.min-h-screen{
    min-height: 100vh;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.font-bold{
    font-weight: bolder;
}

.flex-col{
    flex-direction: column;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: rgb(194, 79, 12);
}

.btn{
    padding: 7px 12px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color:rgb(194, 79, 12) ;
}

.overflow-hidden{
    overflow: hidden;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

